* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 380px;
  height: 610px;
  margin-top: 20px;
  margin-left: 500px;
  flex-shrink: 0;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0px 2px 12px 3px #61b846;
  backdrop-filter: blur(25px);
}
.logo {
  width: 250px;
  height: 200px;
  margin-left: 70px;
  margin-top: 100px;
  flex-shrink: 0;
}
.first {
  color: #61b846;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; 
  text-align: center;
  padding-top: 50px;
}
.second {
  color: #024f9d;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin-top: 15px;
}
.btn {
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #61b846;
  box-shadow: 0px 4px 4px 5px #d4d3d3;
  border: none;
  margin-left: 90px;
  margin-top: 40px;
  
}
.button-para {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 83.333% */
  font-family: Arial, Helvetica, sans-serif;
}
